<template name="UxTimestamp">

  <section id="ux-home">

    <div class="container">
      <div class="row">
        <header>
          <img src="/img/logo.svg"/>

          <nav>
            <ul>
              <li><a href="#">Stamp your stuff</a></li>
              <li><a href="#">About us & Contact</a></li>
            </ul>
          </nav>
        </header>
      </div>
    </div>


    <section id="content-container">

      <div class="container">
        <ul class="tabs">
          <li class="tab col l6"><a href="#generate-tab">Generate</a></li>
          <li class="divider"></li>
          <li class="tab col l6"><a href="#verify-tab">Verify</a></li>
        </ul>
      </div>
      <div id="underline"></div>

      <div id="generate-tab" class="col s12">
        <div class="container">
          <div class="row step">
            <div class="number col s1 m1 l1 left">
              <h5><span>1</span>ST. STEP</h5>
            </div>

            <div class="check col s1 m1 l1">
              C
            </div>

            <div class="content-container col s10 m10 l10">
              <h5>Choose the file you want to timestamp</h5>

              <div class="content">
                <div class="dropzone"></div>
                <button id="pick-file">Pick</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="verify-tab" class="col s12">
        <div class="container">
          Test 2
        </div>
      </div>

    </section>
  </section>

  <script type="text/javascript">
    (function ($) {
      $(function () {
        $('ul.tabs').tabs();
        $('.indicator').remove();
      });
    })(jQuery);
  </script>

</template>
