/*****************************************************************************/
/* UxHome: Style */
/*****************************************************************************/
.ux-home {
}

.icon-container .icon {
  margin-top: 30px;
}

.step-content {
  vertical-align: middle;
  height: 120px;
}

.step-content p {
  margin-top: 8px;
}

.step-content .file-pick-opener {
  vertical-align: middle;
}

div.file-drop {
  border-radius: 4px;
  height: 50px;
  border: 1px #666 dashed;
  text-align: center;
}

a.file-pick-opener {
  margin-top: 6px;
}

.step4 div.row {
  padding: 0;
}
