<template name="UxTimestamp">

  <section id="timestamping">

    <div class="container">
      <div class="row">
        <header>
          <img src="/img/logo.svg"/>

          <nav>
            <ul>
              <li><a href="#">Stamp your stuff</a></li>
              <li><a href="#">About us & Contact</a></li>
            </ul>
          </nav>
        </header>
      </div>


      <div class="row">
        <section id="content-container">
          <div class="tabs-container">
            <div class="tab">
              <h2>Generate</h2>

              <ul class="tab-content">
                <li>
                  <div class="step-number">
                    <h3><span>1</span>st. STEP</h3>
                  </div>

                  <div class="step-check">
                    <div class="step-checkbox"></div>
                  </div>

                  <div class="step-content">
                    <h4>Choose the file what you want to timestamp</h4>

                    <div class="step-content-container">
                      <div class="dropzone"></div>

                      <button class="btn">Pick</button>
                    </div>
                  </div>

                </li>
              </ul>
            </div>


            <div class="tab">
              <h2>Verify</h2>

            </div>
          </div>
        </section>
      </div>

    </div>
  </section>

</template>
