//template(name='UxTimestamp')
//
//    div(class='row step step1 page-footer step1')
//        div(class='icon-container col s3 m3 l3')
//            div(class='heading col s6 m6 l6')
//                p 1
//                    span st.
//                p STEP
//            div(class='icon col s6 m6 l6')
//                i(class='material-icons medium') eject
//
//
//        div(class='step-content col s9 m9 l9')
//            p Choose the file that you want to timestamp.
//            div(class='file-drop col s7 m7 l7')
//                p Drop the file here or click to pick one
//            a(class="file-pick-opener col s4 m2 l2 waves-effect waves-light btn offset-s1 offset-m1 offset-l1")
//                span PICK
//
//
//    div(class='row step step1 page-footer step2')
//        div(class='icon-container col s3 m3 l3 step2')
//            div(class='heading col s6 m6 l6')
//                p 2
//                    span nd.
//                p STEP
//            div(class='icon col s6 m6 l6')
//                i(class='material-icons medium') toc
//
//        div(class='step-content col s9 m9 l9')
//            p Select the TSA you want to use.
//
//            p(class='col s3 m3 l3')
//                input(name='group1' type='radio' id='test1')
//                label(for='test1') TSA 1
//
//            p(class='col s3 m3 l3')
//                input(name='group1' type='radio' id='test2')
//                label(for='test2') TSA 2
//
//            p(class='col s3 m3 l3')
//                input(name='group1' type='radio' id='test3')
//                label(for='test3') TSA 3
//
//
//    div(class='row step step1 page-footer step3')
//        div(class='icon-container col s3 m3 l3 ')
//            div(class='heading col s6 m6 l6')
//                p 3
//                    span rd.
//                p STEP
//            div(class='icon col s6 m6 l6')
//                i(class='material-icons medium') playlist_add_check
//
//        div(class='step-content col s9 m9 l9')
//            p Timestamp.
//
//            a(class="waves-effect waves-light btn offset-s1 offset-m1 offset-l1") Stamp it!
//
//
//    div(class='row step step1 page-footer step4')
//        div(class='icon-container col s3 m3 l3 ')
//            div(class='heading col s6 m6 l6')
//                p 4
//                    span th.
//                p STEP
//            div(class='icon col s6 m6 l6')
//                i(class='material-icons medium') folder
//
//        div(class='row step-content col s9 m9 l9')
//            p(class='col s12 m12 l12') Save the Evidence file.
//
//            div(class='icon col s4 m4 l4')
//                a(class='waves-effect waves-light btn btn-large')
//                    i(class='material-icons') file_download
//                    span Download
//
//            div(class='col s4 m4 l4')
//                a(class='waves-effect waves-light btn btn-large')
//                    i(class='material-icons') cloud
//                    span One Drive
