template(name='MasterLayout')
    header#header.container
        nav.white(role='navigation')
            .nav-wrapper
                a#logo-container.brand-logo.left(href="{{ pathFor 'Home' }}")
                    img.responsive-img(src="/img/logo.svg")
                a#mobile-nav-icon.right.button-collapse(href="#", data-activates="mobile-nav")
                    i.material-icons(class="grey-text text-darken-5") menu

                ul#normal-nav.right.hide-on-down
                    li
                        a(id="timestamp-page-link" href="{{ pathFor 'Timestamp' }}") STAMP YOUR STUFF
                    li
                        a(href='#') ABOUT US CONTACT

    ul#mobile-nav.side-nav
        li
            a(href="{{ pathFor 'Home' }}") Home
        li
            a(id="timestamp-page-link" href="{{ pathFor 'Timestamp' }}") STAMP YOUR STUFF
        li
            a(href='#') ABOUT US CONTACT


    section#page-content
        +yield


    footer.page-footer
        .container
            .row
                .col.l4.offset-l8.s12
                    ul
                        li
                            i.white-text.mdi.mdi-linkedin-box.medium
                            i#googlebtn.white-text.mdi.mdi-google-plus-box.medium
                            i.white-text.mdi.mdi-github-box.medium
                            i#facebookbtn.white-text.mdi.mdi-facebook-box.medium
