/*****************************************************************************/
/* MasterLayout: Style */
/*****************************************************************************/
.container {
  box-shadow: none;
  font-family: "Advent Pro";
  background: transparent;
  box-shadow: none;

  #nav-mobile {
    li {
      a {
        color: black;
      }
    }
  }
}

