template(name='MasterLayout')
    nav.white(role='navigation')
        .nav-wrapper.container
            a#logo-container.brand-logo(href='#')
                object#front-page-logo.responsive-img(width='170px', type='image/svg+xml', data='/img/logo.svg') Your browser does not support SVG.
            ul#nav-mobile.right.hide-on-med-and-down
                li
                    a(href='#') STAMP YOUR STUFF
                li
                    a(href='#') ABOUT US CONTACT
    div(class='container')
        +yield
