template(name='MasterLayout')
    header#header.container
        nav.white(role='navigation')
            .nav-wrapper
                a#logo-container.brand-logo.left(href="{{ pathFor 'Home' }}")
                    img.responsive-img(src="/img/logo.svg")
                a#mobile-nav-icon.right.button-collapse(href="#", data-activates="mobile-nav")
                    i.material-icons(class="grey-text text-darken-5") menu

                ul#normal-nav.right.hide-on-down
                    li
                        a(id="timestamp-page-link" href="{{ pathFor 'Timestamp' }}") STAMP YOUR STUFF
                    li
                        a(href='#') ABOUT US CONTACT

    ul#mobile-nav.side-nav
        li
            a(href="{{ pathFor 'Home' }}") Home
        li
            a(id="timestamp-page-link" href="{{ pathFor 'Timestamp' }}") STAMP YOUR STUFF
        li
            a(href='#') ABOUT US CONTACT


    section#page-content
        +yield


    footer(class="page-footer")
        //div(class="row")
        //    div(class="col s12 m6 l6")
        //        div(class="col")
        //            ul
        //                li
        //                    a(href='#' class='right') Help
