template(name='MasterLayout')
    header#header.container
        nav.white(role='navigation')
            .nav-wrapper
                a#logo-container.brand-logo(href="{{ pathFor 'home' }}")
                    img.responsive-img(src="/img/logo.svg")
                ul#nav-mobile.right.hide-on-med-and-down
                    li
                        a(id="timestamp-page-link" href="{{ pathFor 'Timestamp' }}") STAMP YOUR STUFF
                    li
                        a(href='#') ABOUT US CONTACT
    +yield
