/*****************************************************************************/
/* Timestamp: Style */
/*****************************************************************************/
.timestamp-list {
}

.pagination {

  .disabled {
    color: #cccccc;
  }

  .current {
    background-color: #02a349;
  }
}

label.active {
  visibility: hidden;
}
