template(name='TimestampList')

    div(class='row')

        table(id='timestamp-list')
            thead
                tr
                    th {{i18n 'timestampList.hash_result'}}
                    th {{i18n 'timestampList.creation_date'}}
                    th {{i18n 'timestampList.server_used'}}
            tbody
                each timestamp in latestTimestamps
                    tr
                        td(class='hash-cell') #{timestamp.hash}
                        td #{timestamp.creationDate.toLocaleString}
                        td #{timestamp.server.toLocaleString}
