/*****************************************************************************/
/* Timestamp: Style */
/*****************************************************************************/
@import "../../stylesheets/colors.scss";

.timestamp-list {
}

.pagination {

  .disabled {
    color: $color-grey1;
  }

  .current {
    background-color: $color-green1;
  }

  li.page:not(.disabled):hover {
    background-color: $color-grey1;
    cursor: pointer;
  }
}

.input-field .prefix.active {
  color: $color-green1;
}

.input-field .prefix.active {
  color: $color-green1;
}

.input-field {

  input[type=search] {
    padding-left: inherit;

    &:focus {
      border-bottom: 1px solid $color-red2;

      &:not([readonly]) + label {
        color: $color-green1;
      }
    }
  }
}

.no-results {
  color: $color-green1;
}

