/*****************************************************************************/
/* Timestamp: Style */
/*****************************************************************************/
@import "../../stylesheets/colors.scss";

.timestamp-list {
}

.pagination {

  .disabled {
    color: $color-grey1;
  }

  .current {
    background-color: $color-green1;
  }
}

label.active {
  visibility: hidden;
}

.input-field input[type=search]:focus {
  border-bottom: 1px solid $color-red2;
}

