template(name='Timestamp')
    div(class='timestamp')
        h4 {{i18n 'timestamp.title'}}
        div(class='timestamp row')
            +dropzone url='/' class='dropzone' id='original-artifact' dictDefaultMessage='Drop a file or pick one'
            //div(class='file-field input-field')
            //    div(class='btn' class='light-blue lighten-1')
            //        i(class="mdi-content-add")
            //        input(type='file' name='artifact' id='generate-input')
            //    div(class='file-path-wrapper')
            //        input(class='file-path validate' type='text' placeholder="{{i18n 'timestamp.placeholder' }}")
            form(id='artifact-form' method='post' action="{{pathFor 'timestamp'}}" class='col s12')
                div(id='hash-container' class='row')
                    div(class='input-field')
                        label(for='hash' class='active') {{i18n 'timestamp.hash'}}
                        input(type='text' id='hash' name='hash' value='#{artifactHash}' readonly)
                div(class='row')
                    button(type='submit' class='btn waves-effect waves-light light-blue lighten-1' name='timestamp') {{i18n 'timestamp.timestamp_btn'}}
