template(name='Timestamp')
    div.container
        section(id="content-container")
            ul.tabs
                li.tab.col.l6
                    a(href='#generate-tab') Generate
                li.divider
                li.tab.col.l6
                    a(href='#verify-tab') Verify
    div#underline

    #generate-tab.col.s12.container
        .row.step
            .number.col.s1.m1.l1.left
                h5
                    span 1
                    | ST. STEP
            .check.col.s1.m1.l1
                img.materialboxed(src='/img/check.svg')
            .content-container.col.s10.m10.l10
                h5 {{i18n 'timestamp.step_1_name'}}
                +dropzone class='dropzone' id='original-artifact' dictDefaultMessage='Drop or pick files here to upload'

                form(id='artifact-form' method='post' action="{{pathFor 'Timestamp'}}")
                    input(type='text' id='hash' name='hash' value='#{artifactHash}' hidden)

        .row.step
            .number.col.s1.m1.l1.left
                h5
                    span 2
                    | ND. STEP
            .check.col.s1.m1.l1
                img.materialboxed(src='/img/check.svg')
            .content-container.col.s10.m10.l10
                h5 {{i18n 'timestamp.step_2_name'}}
                .col

                    p
                        input(type='radio' id='free_tsa' name='tsa_server' value='https://freetsa.org/tsr' checked)
                        label(for='free_tsa') FreeTSA
                    p
                        input(type='radio' id='tsa_startssl' name='tsa_server' value='http://tsa.startssl.com/rfc3161')
                        label(for='tsa_startssl') Startssl
                .col

                    p
                        input(type='radio' id='time_certum' name='tsa_server' value='http://time.certum.pl/')
                        label(for='time_certum') Time.Certum
                    p
                        input(type='radio' id='zeitstempel' name='tsa_server' value='http://zeitstempel.dfn.de/')
                        label(for='zeitstempel') Zeitstempel


        .row.step
            .number.col.s1.m1.l1.left
                h5
                    span 3
                    | RD. STEP
            .check.col.s1.m1.l1
                img.materialboxed(src='/img/check.svg')
            .content-container.col.s10.m10.l10
                h5 {{i18n 'timestamp.step_3_name'}}
                button(type='submit' class='btn' name='timestamp') {{i18n 'timestamp.timestamp_btn'}}
