template(name='Timestamp')
    .container
        section(id="content-container")
            ul.tabs
                li.tab.col.l6
                    a(href='#generate-tab') Generate
                li.divider
                li.tab.col.l6
                    a(href='#verify-tab') Verify

    #underline.col.s12.m12.l12

    #verify-tab.col.s12.container
        +Verification

    #generate-tab.col.s12.container
        | {{> loginButtons}}
        .col
            #step-dropzone.row.step
                .number.col.s2.m2.l2.left
                    h5
                        span 1
                        | ST. STEP
                .check.col.s2.m2.l2
                    img(src='{{imageStepT1}}')
                .content-container.col
                    h5 {{i18n 'timestamp.step_1_name'}}
                    +dropzone class='dropzone' id='original-artifact' dictDefaultMessage='Drop or pick file here to upload (the file is not loaded on the server)'
        .col
            form#artifact-form(method='post' action="{{pathFor 'Timestamp'}}")
                #step-servers.row.step

                    .number.col.s2.m2.l2.left
                        h5
                            span 2
                            | ND. STEP
                    .check.col.s2.m2.l2
                        img(src='{{imageStepT2}}')
                    .content-container.col
                        h5 {{i18n 'timestamp.step_2_name'}}
                        .col.s6.m4.l3
                            p(class="tooltipped" data-position="bottom" data-delay="300" data-tooltip='https://freetsa.org/tsr')
                                input(type='checkbox' id='free_tsa' name='tsa_server' value='https://freetsa.org/tsr' checked disabled class="btn tooltipped" data-position="top" data-delay="50" data-tooltip="I am in top!")
                                label(for='free_tsa') FreeTSA
                        .col.s6.m4.l3
                            p(class="tooltipped" data-position="bottom" data-delay="300" data-tooltip='Canada: http://tsa.startssl.com/rfc3161')
                                input(type='checkbox' id='tsa_startssl' name='tsa_server' value='http://tsa.startssl.com/rfc3161' disabled)
                                label(for='tsa_startssl') Startssl
                        .col.s6.m4.l3
                            p(class="tooltipped" data-position="bottom" data-delay="300" data-tooltip='Poland: http://time.certum.pl')
                                input(type='checkbox' id='time_certum' name='tsa_server' value='http://time.certum.pl' disabled)
                                label(for='time_certum') Time.Certum
                        .col.s6.m4.l3
                            p(class="tooltipped" data-position="bottom" data-delay="300" data-tooltip='Germany: http://zeitstempel.dfn.de/')
                                input(type='checkbox' id='zeitstempel' name='tsa_server' value='http://zeitstempel.dfn.de' disabled)
                                label(for='zeitstempel') Zeitstempel

                #step-button.row.step
                    .number.col.s2.m2.l2.left
                        h5
                            span 3
                            | RD. STEP
                    .check.col.s2.m2.l2
                        img(src='{{imageStepT3}}')
                    .content-container.col
                        .row
                            h5 {{i18n 'timestamp.step_3_name'}}
                            #tmp-btn.col.s3.m3.l3.left
                                button#timestamp-button(type='submit' class='btn' name='timestamp' disabled) {{i18n 'timestamp.submit_btn'}}
                                if currentUser
                                    i#googledrive-button.mdi.mdi-folder-google-drive.medium
                                    //button#googledrive-button(type='submit' class='btn' name='drive') Save Drive
                            #progress-bar.col.s9.m9.l9
                                #timestamp-progress-bar
