template(name='Home')
    section(id="content-container")
        ul.tabs
            li.tab.col.l6
                a(href='#generate-tab') Generate
            li.divider
            li.tab.col.l6
                a(href='#verify-tab') Verify
        div(id="underline")
    +Timestamp
