template(name='Home')
    div(class="row home")
        div(class="col m6")
            +Timestamp
        div(class="col s4 m6")
            +Verification
    div(class="row")
        +TimestampList
