template(name='Home')
    div(class='home')
        input(type='file' name='artifact')
        form(id='artifact-form' method='post' action='timestamp')
            div(id='hash-container')
                p SHA256 hash is:
                    input(type='text' name='hash' value='#{artifactHash}' readonly)
                input(type='submit' value='Timestamp')
