template(name='Contact')
    #underline.col.s12.m12.l12
    .row
    .row.container
        .col.s6.m6.l6
            .row
                h5.left-align {{i18n 'contact.contact'}}
            .row
                h6 {{i18n 'contact.text'}}
            .row
            #step-contact.row
                | {{>contactForm}}
        .col.s1.m1.l1
        .col.s5.m5.l5
            .row
                h5.left-align {{i18n 'contact.about'}}
            #aleph-link.row
                a(id="aleph-url" href="http://aleph.engineering/") {{i18n 'contact.aleph_site'}}
