/*****************************************************************************/
/* Contact: Style */
/*****************************************************************************/
@import "../../stylesheets/main";
@import "../../stylesheets/colors.scss";

#contactForm fieldset {
    border: none !important;

  label {
    color: #4f4f4f;
    font-size: 1rem;
    text-transform: uppercase;
  }

  input {
    margin-top: 10px;
    border: 1px solid;
    border-radius: 0.4em;
    border-color: #cccccc;
  }

  textarea {
    margin-top: 10px;
    border-radius: 0.4em;
    height: 6rem;
    border-color: #cccccc;
    margin-bottom: 15px;

    .control-label {
      color: #02b449;
    }
  }
}

#aleph-link {
  a {
    color: #4f4f4f;
    font-size: 1rem;
  }
}

input[type=text]:focus {
    border: 2px solid $color-green1 !important;
    box-shadow: none !important;
}

textarea:focus {
  outline-color: $color-green !important;
  border-top-style: none !important;
}

