template(name='Contact')
    .container.divider
    .row.container
        .col.s8.m8.l8
            .row
                h5.left-align Contact Us
            .row
                h6 We are happy to answer any questions you have. Just send us message in the form below with any questions you have.
            .row
                +contactForm
        .col.s4.m4.l4
            .row
                h5.left-align About Us
            .row
                a(id="aleph-url" href="http://mobile-legends.eu/alephWP-sandbox2/excellentpeople/") http://mobile-legends.eu/alephWP-sandbox2/excellentpeople/
