/*****************************************************************************/
/* Verification: Style */
/*****************************************************************************/
.verification {
  margin-left: 13px;
  margin-top: 12px;
}

//.dropzone {
//  width: 45em;
//  padding: 15px;
//  border: 1px solid #333;
//  background: rgba(0,0,0,0.7);
//}

.dropzone {
  border: 2px dashed #bbb;
  width: 30em;
  margin-top: 12px;
}

.margin {
  margin-top: 12px;
  margin-left: 13px;
}

//#dropZone {
//  width: 30em;
//  background: rgba(0,0,0,0.7);
//  border: 2px dashed #bbb;
//  //-webkit-border-radius: 5px;
//  //border-radius: 5px;
//  //padding: 50px;
//  text-align: center;
//  //font: 21pt bold arial;
//  //color: #bbb;
//  //background: rgba(0,0,0,0.7);
//}

