// Colors

$color-grey1: #cccccc;
$color-grey2: #dddddd;
$color-grey3: #777777;
$color-grey4: #515151;
$color-grey5: #333333;
$color-grey6: #4f4f4f;
$color-grey7: #888888;

$color-green: #02a349;
$color-green1: #02b449;

$color-red1: #F34141;
$color-red2: #cc0000;
