/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
@import "colors.scss";

// Variables
$big-screen-min-width: 768px;

$middle-screen-max-width: 767px;
$middle-screen-min-width: 681px;

$small-screen-max-width: 680px;
$small-screen-min-width: 400px;

$mobile-screen-max-width: 399px;

header{
  font-family: "Advent Pro";
}

body {
  font-family: Helvetica;
  min-width: 440px;
}

.main {
}

.error {
  border: 2px dashed $color-red1 !important;
  color: $color-red1;
}

@media only screen and (max-width: $middle-screen-max-width) {
  .container {
    width: 100%;
  }
}
